<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YuLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YuLauncher.Properties.Settings>
            <setting name="Window_W" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Window_H" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Aimisu" serializeAs="String">
                <value>https://games.dmm.com/detail/imys/</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LauncherComp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginStreek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginDete" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgramLaunchCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TodaysLogin" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="TodaysYesNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nikke_File_Loc" serializeAs="String">
                <value />
            </setting>
            <setting name="GameWindowResize" serializeAs="String">
                <value>False</value>
            </setting>
        </YuLauncher.Properties.Settings>
    </userSettings>
</configuration>