<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/app.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
    <target xsi:type="Debug" name="debug" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,debug" />
  </rules>
</nlog>
